.Checkout {
  margin: 20px auto;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.Span {
  text-transform: capitalize;
  display: inline-block;
  margin: 0 8px;
  border: 1px solid #ccc;
  padding: 5px;
}

.BurgerButton {
  margin: auto;
  color: #966909;
  cursor: pointer;
  outline: none;
  border: 1px solid #966909;
  font-family: inherit;
  font-size: 1em;
  padding: 5px 5px;
  box-shadow: 2px 2px 2px #966909;
}

.Success {
  background-color: #35da35;
}

.Danger {
  background-color: #ff4949;
}